@use "mixins/ScrollContainer.scss" as container;
@use "variables/Spacer.scss" as spacer;

$width: max(calc((94vw - 80px) / 12), 7.5em);
$horizontal-margin: 3vw;

.horizontal-container {
	background-color: rgba(60, 60, 60, 0.15);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: spacer.$vertical-spacer;
	padding: 1vh 0 1vh 0;
	border-radius: 10px;
}

.day {
	text-align: center;
	color: black;
	width: max(55px, 6vw);
	-ms-flex-negative: 0;
	flex-shrink: 0;
	font-size: 1.6em;
	margin: 0 $horizontal-margin spacer.$vertical-spacer $horizontal-margin;
}

.forecast {
	@include container.scroll-container($width);
	font-size: 0.5rem;
}

.current-weather {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	width: 100%;
}

@media (width < 1000px) {
	.current-weather {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
