@font-face {
	font-family: "Kollektif";
	font-display: swap;
	src: url("../fonts/kollektif/Kollektif.ttf");
}

:root {
	font-family: "Jost";
	font-size: calc(12px + 0.390625vw);
	font-weight: 400;
	line-height: 1.5;
}

* {
	margin: 0;
	padding: 0;
}

body {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

main {
	color: black;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	overflow-x: hidden;
	padding: 1rem 3vw;
	background: rgb(150, 180, 220);
}

.glass {
	background: rgba(255, 255, 255, 0.45);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
