@use "mixins/ScrollContainer.scss" as container;
@use "variables/Spacer" as spacer;

.suggested-locations {
	@include container.scroll-container(24rem);
	font-size: 1rem;
}

.local-weather {
	font-size: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: max(2vh, 20px);
	min-height: 160px;
}

@media (width < 1000px) {
	.suggested-locations {
		gap: spacer.$vertical-spacer;
		grid-auto-flow: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		grid-auto-columns: 80%;
		height: 100%;
	}
}
