@use "mixins/CenterContent.scss" as center;

.weather-info {
	@include center.center-content(inline-flex);

	background-color: rgba(245, 245, 245, 0.575);
	flex-direction: column;
	text-align: center;
	padding: 0.5em 0.5em;
	border-radius: 1.5em;
	user-select: none;

	.fs-big,
	.temperature {
		font-size: 2.2em;
	}

	.temperature {
		font-family: "Kollektif";
		position: relative;
	}

	.temperature::after {
		content: "\00b0";
		position: absolute;
		right: 10;
	}

	.description {
		font-weight: 300;
	}

	.fs-med {
		font-size: 1.2em;
	}

	.weather-description {
		margin-bottom: 1em;
		margin-top: -1.5em;
	}

	.weather-image {
		height: 7em;
		margin-top: -1.5em;
	}

	.details-grid {
		margin-top: -0.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
		row-gap: 0.8rem;

		p {
			@include center.center-content(flex);

			&:last-child {
				grid-column: 1 / 3;
			}

			& > img {
				width: 2.3rem;
				margin-right: 0.7rem;
			}
		}
	}
}
