@use "../variables/Spacer.scss" as spacer;

@mixin scroll-container($column-size) {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: $column-size;
	gap: spacer.$horizontal-spacer;
	overflow-x: auto;
	overscroll-behavior-x: contain;
	padding-bottom: spacer.$vertical-spacer;
}
